.u-section-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/tttt.jpg"); background-position: 0% 50%}
.u-section-1 .u-sheet-1 {min-height: 800px}
.u-section-1 .u-text-1 {width: 502px; margin: 588px auto 0}
.u-section-1 .u-text-2 {margin: 21px auto 60px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 660px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 506px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 359px} }

@media (max-width: 575px){ .u-section-1 .u-text-1 {width: 340px} }.u-section-2 .u-sheet-1 {min-height: 500px}
.u-section-2 .u-gallery-1 {height: 295px; grid-template-columns: repeat(4, auto); gap: 9px; margin: 63px 0 0}
.u-section-2 .u-back-slide-1 {background-image: url("images/Skulls.jpg"); background-position: 4.5% 50%}
.u-section-2 .u-over-slide-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-back-slide-2 {background-image: url("images/tunnel.jpg"); background-position: 50% 50%}
.u-section-2 .u-over-slide-2 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-back-slide-3 {background-image: url("images/hghhhg.jpg"); background-position: 50% 50%}
.u-section-2 .u-over-slide-3 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-back-slide-4 {background-image: url("images/tdt.jpg"); background-position: 50% 50%}
.u-section-2 .u-over-slide-4 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-layout-wrap-1 {width: 853px; margin: 20px auto 60px 0}
.u-section-2 .u-layout-cell-1 {min-height: 180px}
.u-section-2 .u-container-layout-1 {padding: 30px}
.u-section-2 .u-text-1 {font-weight: 700; font-size: 1.875rem; margin: 0}
.u-section-2 .u-layout-cell-2 {min-height: 180px}
.u-section-2 .u-container-layout-2 {padding: 30px}
.u-section-2 .u-text-2 {margin: 0} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 448px}
.u-section-2 .u-gallery-1 {height: 243px; margin-right: initial; margin-left: initial}
.u-section-2 .u-gallery-item-4 {position: relative; left: 0; top: 0} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 950px}
.u-section-2 .u-gallery-1 {height: 745px; grid-template-columns: repeat(2, auto); margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-wrap-1 {width: 720px}
.u-section-2 .u-layout-cell-1 {min-height: 100px}
.u-section-2 .u-layout-cell-2 {min-height: 100px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 2441px}
.u-section-2 .u-gallery-1 {height: 2236px; grid-template-columns: repeat(1, auto); margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-wrap-1 {width: 540px}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-text-1 {font-size: 3rem}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 1613px}
.u-section-2 .u-gallery-1 {height: 1408px; margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-wrap-1 {width: 340px} }