.u-section-1 {min-height: 800px; background-image: none}
.u-section-1 .u-image-1 {object-position: 0% 49.77%; background-position: 0% 49.77%; filter: brightness(0.45); height: 806px; margin-left: 0; margin-top: -6px; margin-bottom: 0}
.u-section-1 .u-text-1 {font-weight: 700; font-size: 4.5rem; margin: -258px calc(((100% - 1140px) / 2) + 420px) 0}
.u-section-1 .u-text-2 {background-image: none; font-size: 1.25rem; margin: 20px calc(((100% - 1140px) / 2) + 486px) 60px calc(((100% - 1140px) / 2) + 470px)} 

@media (max-width: 1199px){ .u-section-1 .u-image-1 {margin-left: initial}
.u-section-1 .u-text-1 {margin-right: calc(((100% - 940px) / 2) + 346px); margin-left: calc(((100% - 940px) / 2) + 346px)}
.u-section-1 .u-text-2 {margin-left: calc(((100% - 940px) / 2) + 388px); margin-right: calc(((100% - 940px) / 2) + 401px)} }

@media (max-width: 991px){ .u-section-1 .u-text-1 {margin-right: calc(((100% - 720px) / 2) + 265px); margin-left: calc(((100% - 720px) / 2) + 265px)}
.u-section-1 .u-text-2 {margin-left: calc(((100% - 720px) / 2) + 297px); margin-right: calc(((100% - 720px) / 2) + 307px)} }

@media (max-width: 767px){ .u-section-1 .u-text-1 {margin-left: calc(((100% - 540px) / 2) + 199px); margin-right: calc(((100% - 540px) / 2) + 199px)}
.u-section-1 .u-text-2 {margin-left: calc(((100% - 540px) / 2) + 223px); margin-right: calc(((100% - 540px) / 2) + 230px)} }

@media (max-width: 575px){ .u-section-1 .u-text-1 {font-size: 1.875rem; margin-right: calc(((100% - 340px) / 2) + 125px); margin-left: calc(((100% - 340px) / 2) + 125px)}
.u-section-1 .u-text-2 {font-size: 1rem; margin-left: calc(((100% - 340px) / 2) + 140px); margin-right: calc(((100% - 340px) / 2) + 145px)} }.u-section-2 {background-image: linear-gradient(#999999, #db545a)}
.u-section-2 .u-sheet-1 {min-height: 500px}
.u-section-2 .u-gallery-1 {height: 295px; grid-template-columns: repeat(4, auto); gap: 9px; margin: 63px 0 0}
.u-section-2 .u-back-slide-1 {background-image: url("images/Skulls.jpg"); background-position: 4.5% 50%}
.u-section-2 .u-over-slide-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-back-slide-2 {background-image: url("images/tunnel.jpg"); background-position: 50% 50%}
.u-section-2 .u-over-slide-2 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-back-slide-3 {background-image: url("images/hghhhg.jpg"); background-position: 50% 50%}
.u-section-2 .u-over-slide-3 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-back-slide-4 {background-image: url("images/tdt.jpg"); background-position: 50% 50%}
.u-section-2 .u-over-slide-4 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-2 .u-layout-wrap-1 {width: 853px; margin: 20px auto 60px 0}
.u-section-2 .u-layout-cell-1 {min-height: 180px}
.u-section-2 .u-container-layout-1 {padding: 30px}
.u-section-2 .u-text-1 {font-weight: 700; font-size: 1.875rem; margin: 0}
.u-section-2 .u-layout-cell-2 {min-height: 180px}
.u-section-2 .u-container-layout-2 {padding: 30px}
.u-section-2 .u-text-2 {margin: 0} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 448px}
.u-section-2 .u-gallery-1 {height: 243px; margin-right: initial; margin-left: initial}
.u-section-2 .u-gallery-item-4 {position: relative; left: 0; top: 0} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 867px}
.u-section-2 .u-gallery-1 {margin-top: 15px; height: 745px; grid-template-columns: auto auto; margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-wrap-1 {width: 720px; margin-bottom: 25px}
.u-section-2 .u-layout-cell-1 {min-height: 100px}
.u-section-2 .u-layout-cell-2 {min-height: 100px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 2441px}
.u-section-2 .u-gallery-1 {height: 2236px; grid-template-columns: repeat(1, auto); margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-wrap-1 {width: 540px}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-text-1 {font-size: 3rem}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 1495px}
.u-section-2 .u-gallery-1 {margin-top: 5px; height: 1408px; grid-template-columns: auto; margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-wrap-1 {width: 340px; margin-bottom: 0} }