.u-section-1 {background-image: linear-gradient(#478ac9, #db545a)}
.u-section-1 .u-sheet-1 {min-height: 972px}
.u-section-1 .u-image-1 {width: 361px; height: 361px; background-image: url("images/ghost.jpg"); background-position: 50% 0%; box-shadow: 4px 7px 28px 10px rgba(128,128,128,0.5); margin: 60px 382px 0 auto}
.u-section-1 .u-text-1 {font-weight: 700; font-style: normal; width: 749px; margin: 73px 196px 0}
.u-section-1 .u-text-2 {font-size: 1.875rem; font-weight: 400; width: 749px; margin: 43px auto 0}
.u-section-1 .u-btn-1 {text-transform: uppercase; letter-spacing: 1px; font-size: 1.25rem; background-image: none; margin: 24px auto 60px; padding: 18px 43px 19px} 

@media (max-width: 1199px){ .u-section-1 .u-text-1 {margin-left: 96px; margin-right: 96px} }

@media (max-width: 991px){ .u-section-1 .u-image-1 {margin-right: 359px}
.u-section-1 .u-text-1 {width: 720px; margin-left: 0; margin-right: 0}
.u-section-1 .u-text-2 {width: 720px} }

@media (max-width: 767px){ .u-section-1 .u-image-1 {margin-right: 179px}
.u-section-1 .u-text-1 {width: 540px}
.u-section-1 .u-text-2 {width: 540px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 951px}
.u-section-1 .u-image-1 {width: 340px; height: 340px; margin-right: 0}
.u-section-1 .u-text-1 {width: 340px}
.u-section-1 .u-text-2 {width: 340px} }